@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

body {
	height: 100dvh;
	margin: 0;

	background: var(--light);
	font-family: Abel, sans-serif;
	font-size: 1.25rem;
	line-height: 1rem;
}

#app {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	padding: 1rem;

	background: #f17f29;
}

#grid {
	width: 100%;
	height: 100%;
	color: white;

	gap: 1.5rem;

	&.test {
		width: 2400px;
		height: 1380px;
	}

	.item {
		padding: 2rem;
		background: paint(squircle);
		--squircle-smooth: 1;
		--squircle-radius: 48px;
		--squircle-fill: black;
	}
}
